@font-face {
  font-family: "ciconfont"; /* Project id 4587292 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.ciconfont {
  font-family: "ciconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cicon-nongye:before {
  content: "\e62c";
}

.cicon-xiaomai:before {
  content: "\e602";
}

.cicon-zihaojiadaxuanzhong:before {
  content: "\e64b";
}

.cicon-yanjing:before {
  content: "\e8c7";
}

.cicon-zihaojianxiaoxuanzhong:before {
  content: "\e63f";
}

.cicon-daohang:before {
  content: "\e61f";
}

.cicon-caidan:before {
  content: "\e652";
}

.cicon-a-sousuo17:before {
  content: "\e702";
}

.cicon-zuozuo-:before {
  content: "\e642";
}

.cicon-youyou-:before {
  content: "\e643";
}

.cicon-gengduo:before {
  content: "\e68b";
}

.cicon-sousuo3:before {
  content: "\e67e";
}

.cicon-guanbi1:before {
  content: "\e623";
}

.cicon-douyin:before {
  content: "\e8db";
}

.cicon-jiantou_qiehuanzuo:before {
  content: "\e641";
}

.cicon-jiantou_qiehuanyou:before {
  content: "\e636";
}

.cicon-shipinhao:before {
  content: "\e7de";
}

.cicon-sousuo:before {
  content: "\e685";
}

.cicon-dingwei:before {
  content: "\e7cd";
}

.cicon-weizhi:before {
  content: "\e8ff";
}

.cicon-shouye:before {
  content: "\e601";
}

.cicon-shijian1:before {
  content: "\e60e";
}

.cicon-sousuo2:before {
  content: "\e60a";
}

.cicon-shijian:before {
  content: "\e61d";
}

.cicon-sousuo1:before {
  content: "\e8b9";
}

.cicon-fenxiang:before {
  content: "\e63a";
}

.cicon-weibo:before {
  content: "\e674";
}

.cicon-weixin:before {
  content: "\e614";
}

.cicon-guanbi:before {
  content: "\e680";
}

.cicon-zuo:before {
  content: "\e63c";
}

.cicon-you:before {
  content: "\e63d";
}

.cicon-share_twitter:before {
  content: "\e6aa";
}

.cicon-shareto_linkedin:before {
  content: "\e6ab";
}

.cicon-share_facebook:before {
  content: "\e6ac";
}

.cicon-share_qzone:before {
  content: "\e6ad";
}

